<style>
div.warn {    
    background-color: #F7F7F7;
    border-color: #CCCCCC;
    border-left: 5px solid #B4B4B4;
    padding: 0.5em;
}
summary.pybutton {
    width: 100%; 
    height: 40px; 
    background-color: #F7F7F7; 
    border: 1px solid #CCCCCC; 
    cursor: help; 
    padding: 10px; 
    border-radius: 2px;
    border-left: 5px solid #B4B4B4;
}
summary.pybutton:hover {
    background-color: #C3C3C3;
}
 </style>